.container {
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    min-width: 1200px;
    flex-grow: 0;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    
  }
  .card{
    margin: 15px;
    border: 1px solid BLACK;
    box-shadow: 1px 2px 2px 1px;
    width: 400px;
    padding: 0px;
    -webkit-flex-flow: row wrap;
  justify-content: space-around
}


 img{
    height: 200px;
    margin-top: 25px;
    
  }
.Produc{
    text-align: left;
    margin: 0px;
    font-size: 16px;
    margin-left: 5px;
    margin-top: 15px;
    font-display: solid 
  } 
  footer{
    margin-top: 20px;
  }
  .sec{
    -webkit-text-fill-color: yellow;
    font-weight: bold;
    background-color: darkolivegreen; 
  }
  p{
    text-align: justify;
    padding: 15px;
    min-height: 100px;
    margin-top: 10px;
    text-decoration-color: black;
  }
  

  .title{
    border-bottom: 5px solid BLACK;
}
  
    body {
    background-image: url("https://www.marinebio.net/marinescience/02ocean/swimg/wave7161.jpg");
    background-position: center center ; 
    background-size: cover;
    background-attachment: fixed;

    

    }
  
    


  
  h5{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 5px;
    align-content: center
    
    
    
  }
  footer{
    font-size: 17px;
}
#siteName{
  font-size: 100px;
  text-align: center;
  font-style: italic;
  -webkit-text-fill-color: Black;
}
li{
  text-align: center;
  font-style: normal;
  white-space: nowrap;
}


